.filterText {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.04em;
  margin-bottom: 12px;
}

.filterInput {
  width: 360px;
  border: 1px solid rgba(33, 33, 33, 0.8);
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 24px;
  padding: 8px 20px;
  box-sizing: border-box;
}

.filterInput:hover,
.filterInput:focus {
  border-color: blue;
  outline: transparent;
}
